{% extends 'base.html.twig' %}

{% block title %}Modulo trabajadores!
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h5 class="text-muted" style="text-align: center; margin-bottom: 20px; font-size: 1.25rem;">AGREGAR TRABAJADORES</h5>
		<form id="form_trabajador" class="row g-3 needs-validation">
			<input type="hidden" value="0" name="id" id="id">
			<div class="col-md-3">
				<small>
					<b>
						<label for="nombres" class="form-label">Nombres:</label>
						<span class="required" style="color: red" title="Campo Obligatorio">*</span>
					</b>
				</small>
				<div class="input-group">
					<input type="text" class="form-control" id="nombre" name="nombre" required>
					<div class="invalid-feedback">Por favor ingresa los nombres.</div>
				</div>
			</div>
			<div class="col-md-3">
				<small>
					<b>
						<label for="email" class="form-label">Cedula:</label>
						<span class="required" style="color: red" title="Campo Obligatorio">*</span>
					</b>
				</small>
				<div class="input-group">
					<input type="Cedula" class="form-control" id="cedula" name="cedula" required>
					<div class="invalid-feedback">Por favor ingresa Cedula.</div>
				</div>
			</div>
			<div class="col-md-3">
				<small>
					<b>
						<label for="Cargo" class="form-label">Cargo:</label>
						<span class="required" style="color: red" title="Campo Obligatorio">*</span>
					</b>
				</small>
				<div class="input-group">
					<input type="string" class="form-control" id="cargo" name="cargo" required>
					<div class="invalid-feedback">Por favor ingresa el Cargo.</div>
				</div>
			</div>
			<div class="col-md-3">
				<small>
					<b>
						<label for="Celular" class="form-label">Celular:</label>
						<span class="required" style="color: red" title="Campo Obligatorio">*</span>
					</b>
				</small>
				<div class="input-group">
					<input type="number" class="form-control" id="celular" name="celular" required>
					<div class="invalid-feedback">Por favor ingresa el Cargo.</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-3 mb-4 d-flex justify-content-center">
			<button type="submit" id="btn_guardar_form" class="btn btn-outline-primary btn-sm mx-3">
				Guardar
			</button>
			<button type="reset" id="btn_reset_form" class="btn btn-outline-secondary btn-sm mx-3">
				Limpiar
			</button>
		</div>
	</form>

	<h5 class="text-muted" style="text-align: center; margin-bottom: 20px; font-size: 1.25rem;">LISTADO TRABAJADORES</h5>
	<table id="table_trabajadores" style="width: auto"></table>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('trabajadores') }}
{% endblock %}
