{% extends 'base.html.twig' %}

{% block title %}Error:p{% endblock %}

{% block body %}
 <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>{{message.statuscode}}</h1>
        <h2>message.message</h2>
        <a class="btn" href="{{path('app_home')}}">Volver al Inicio</a>
      </section>

    </div>
  </main><!-- End #main -->
{% endblock %}
